<h2><%= @team.name %></h2>
<%= link_to "Back", [@league, @season] %><br>

<% if team_manager?(@team) %>
  <% @team.games.each do |game| %>
    <% if game.start_date < DateTime.now && game.result == nil %>
    <p> Your game on <%= link_to "#{game.start_date.strftime('%A, %B %d, %Y')}", [@league, @season, game] %> needs updated results! </p>
    <% end %>
  <% end %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Team Score</th>
      <th>Opponent Score</th>
    </tr>
  </thead>
  <tbody>
  <% @team_games.each do |game| %>
    <tr>
      <td><%= link_to "#{game.start_date.strftime('%A, %B %d, %Y')}", [@league, @season, game] %></td>
      <td><%= game.location %></td>
      <% unless game.result == nil %>
        <% if game.result.winner_id == @team.id %>
          <td><%= game.result.winner_score %></td>
          <td><%= game.result.loser_score %></td>
        <% else %>
          <td><%= game.result.loser_score %></td>
          <td><%= game.result.winner_score %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>

<h4>Team Members</h4>
<p>Manager: <%= @team.manager.full_name %></p>
<% if team_manager?(@team) %>
  <%= link_to "Edit Team", edit_league_season_team_path(@league, @season, @team) %>
<% end %>
<ul class="list-group">
 <% @team_players.each do |player| %>
    <% if current_user && current_user.id == player.id %>
    <li class="list-group-item highlight"><%= player.full_name %></li>
    <% else %>
    <li class="list-group-item"><%= player.full_name %></li>
    <% end %>
  <% end %>
  <% if team_manager?(@team) %>
<% end %>
</ul>
<%= form_for(@membership) do |f| %>
  <p>
    <%= f.collection_select(:user_id, User.all, :id, :full_name, {include_blank: true}) %>
    <%= f.hidden_field(:team_id, value: @team.id) %>
  </p>
  <p>
    <%= f.submit "Add Player" %>
  </p>
<% end %>

