<h1> BUSCH LEAGUE </h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Seasons
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @seasons.each do |season| %>
    <a class="dropdown-item" href="/leagues/<%= params[:league_id] %>/seasons/<%= season.id %>"><%= season.name %></a>
    <% end %>
  </div>
</div>

<h3>Standings</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Team 
        <% if admin? %>
          <div class="edit" id="add-team">
            <%= link_to "+", new_league_season_team_path(season_id: params[:id]) %>
          </div>
        <% end %>

      </th>
      <th> Wins </th>
      <th> Losses </th>
    </tr>
  </thead>
  <tbody>
  <% @teams.each do |team| %>
    <tr>
      <% if team.users.include?(current_user) %>
      <td> <%= link_to "#{team.name}", [@league, @season, team], class: "highlight" %> </td>
      <% else %>
      <td> <%= link_to "#{team.name}", [@league, @season, team] %> </td>
      <% end %>
      <td> <%= team.wins.count %> </td>
      <td> <%= team.losses.count %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<ul class= "upcoming">
  <h3> Upcoming Games: </h3>
  <% @upcoming_games.each do |game| %>
    <li> <%= link_to "#{game.start_date.strftime('%A, %B %d, %Y')}", [@league, @season, game] %> <%= Team.find(game.participants[0].team_id).name %> vs. <%= Team.find(game.participants[1].team_id).name %> </li>
  <% end %>
</ul>

<ul class= "recent">
  <h3> Recent Games: </h3>
  <% @recent_games.each do |game| %>
    <% if game.result == nil %>
    <li> <%= link_to "#{game.start_date.strftime('%A, %B %d, %Y')}", [@league, @season, game] %> <%= Team.find(game.participants[0].team_id).name %> TBD - <%= Team.find(game.participants[1].team_id).name %> TBD</li>
    <% else %>
      <li> <%= link_to "#{game.start_date.strftime('%A, %B %d, %Y')}", [@league, @season, game] %> <%= Team.find(game.participants[0].team_id).name %> <%= Result.find_by(game_id: game.id).winner_score %> - <%= Team.find(game.participants[1].team_id).name %> <%=Result.find_by(game_id: game.id).loser_score %></li>
    <% end %>
  <% end %>
</ul>

