<%= form_for([@league, @season, @game]) do |f| %>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
