<h1 class="header">Season and League goes here!</h1>
<div class="info">
  <div class="locate_date">
    <p class="location">Location: <span><%= @game.location %></span></p>
    <p class="date">Date: <span><%= @game.start_date %></span></p>
  </div>
  <div class="edit_links">
    <%= link_to "Edit Game", edit_game_path %>
    <%= link_to "Edit Results", edit_result_path %>
  </div>
</div>

<div class="details">
  <% if @game.result.winner %>
  <div>
    <p><%= @game.result.winner.name %></p>
    <p><%= @game.result.winner_score %></p>
  </div>
  <div>
    <p><%= @game.result.loser.name %></p>
    <p><%= @game.result.loser_score %></p>
  </div>
  <p><%= @game.result.description %></p>
<% else %>
  <p>Game Coming Soon!</p>
<% end %>
</div>
