<h1 class="header"><%= @season.name %></h1>
<div class="info">
  <div class="locate_date">
    <p class="location">Location: <span><%= @game.location %></span></p>
    <p class="date">Date: <span><%= @game.start_date %></span></p>
    <%= link_to "Back", [@league, @season] %>
  </div>
  <div class="edit_links">
    <% if admin? || team_manager?(@game.participants[0].team) || team_manager?(@game.participants[1].team) %>
    <%= link_to "Edit Game", edit_league_season_game_path, class: "edit" %>
    <% unless @game.start_date > DateTime.now %>
      <% if @game.result == nil %>
        <%= link_to "Add Results", setter_result_path, class: "edit" %>
      <% else %>
        <%= link_to "Edit Results", edit_result_path, class: "edit" %>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="details">
  <% unless @game.result == nil %>
  <div class="teams">
    <% if @game.result.winner %>
    <div class="team_box">
      <p><%= link_to "#{@game.result.winner.name}", [@league, @season, @game.result.winner], class: "team-name" %></p>
      <p class="team-score"><%= @game.result.winner_score %></p>
    </div>
    <div class="team_box">
      <p><%= link_to "#{@game.result.loser.name}", [@league, @season, @game.result.loser], class: "team-name" %></p>
      <p class="team-score"><%= @game.result.loser_score %></p>
    </div>
    <p><%= @game.result.description %></p>
    <% end %>
  <% else %>
    <p>Game Coming Soon!</p>
  <% end %>
  </div>
</div>
