<!DOCTYPE html>
<html>
<head>
  <title>Beerleague</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-dark bg-inverse">

	  <ul class="nav navbar-nav">

	    <li class="nav-item active">
	      <a class="nav-link" href="/">Busch League <span class="sr-only">(current)</span></a>
	    </li>
	    <% if admin? %>
		    <li class="nav-item">
		      <a class="nav-link" href="/teams">Teams</a>
		    </li>
	    <% end %>
	  </ul>

	  <ul class="nav navbar-nav rightone">
	  	<% if logged_in? %>
		    <li class="nav-item">
		      <p class="nav-link"> <%= current_user.email %> </a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/sessions/logout">Logout</a>
		    </li>
	    <% else %>
		    <li class="nav-item">
		      <a class="nav-link" href="#">Register</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/sessions/new">Login</a>
		    </li>
	    <% end %>
	  </ul>
	</nav>
	<div class="realbody">
		<%= yield %>
	</div>
</body>
</html>
